{% extends "base.html" %}

{% block content %}

    {% if blogs|length == 0 %}
    <p>No entries yet</p>
    {% else %}
        {% for blog in blogs %}
            {% if loop.index > 1 %}
                <hr />
            {% endif %}
            {% if view == 'single' %}
            <article>
                <header>
                    <h1 align = "center">{{blog.title}}</h1>
                </header>
                <p>{{blog.body}}</p>
                <footer>
                    <p><center>by <a href="blog?user={{blog.owner.username}}">
                        {{blog.owner.username}}</center></a></p>
                </footer>
            </article>
            {% else %}
            <article>
                <header>
                    <a href="blog?id={{blog.id}}"><h1>{{blog.title}}</h1></a>
                </header>
                <p><center>{{blog.body}}</center></p>
                <footer><center>
                    <p>by <a href="blog?user={{blog.owner.username}}">
                        {{blog.owner.username}}</a></p></center>
                </footer>
            </article>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}